name: Build and Push Docker Image

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Buildah
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ secrets.DOCKERHUB_USERNAME }}/rust-jenkins-builder
          tags: |
            ubuntu-latest
            ${{ github.sha }}
          containerfiles: |
            ./Dockerfile
          push: true
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
